body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000, #0a2f35, #0e4d64, #45a29e, #66fcf1);
    background-size: 600% 600%;
    animation: gradientFlow 16s linear infinite;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input {
    margin-bottom: 10px;
}

hr {
    width: 96% !important;
}

.inputs-entry {
    margin-top: 10px;
}

.inputs-entry button {
    padding: 12px 14px !important;
}

.work-add-btn,
.add-btn {
    background: transparent !important;
    color: #6b5bff;
    border-top: 1px solid #6b5bff !important;
    border-bottom: 1px solid #6b5bff !important;
    border-radius: 0px;
}

.work-add-btn,
.add-btn:hover {
    background-color: rgba(138, 0, 218, 0.05) !important;
    transform: translateY(0px) !important;
    box-shadow: none !important;

}

.form-container {
    width: 70%;
    max-width: 95%;
    padding: 40px;
    padding-top: 14px;
}

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header h1 {
    margin-bottom: 15px;
    color: #fff;
}

.progress-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    transition: 0.3s;
}

.dot.active {
    background: #6b5bff;
    transform: scale(1.2);
}

h2 {
    color: #6b5bff;
    margin-bottom: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    gap: 8px;
}

.form-step.active.card {
    display: flex;
}

label {
    font-weight: 500;
    color: #444;
    margin-bottom: 5px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    border-color: #6b5bff;
    box-shadow: 0 0 6px rgba(107, 91, 255, 0.3);
}

textarea {
    min-height: 80px;
    resize: none;
}

.row.full-width {
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background: linear-gradient(135deg, #39ff14, #00bfff);
    border: none;
    color: #fff;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(107, 91, 255, 0.3);
}

button#prevBtn {
    background: linear-gradient(135deg, #39ff14, #00bfff);
}