<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Template 1</title>
</head>

<body>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="cv-body w-100 p-5 d-flex justify-content-end position-relative">
                    <div class="gen-info-box z-2 position-absolute">
                        <img class="img-fluid" src="/assets/images/sample-img.jpg" alt="">
                        <div class="p-3">
                            <h2>Profile</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est molestias autem eos
                                labore,
                                harum totam perferendis soluta quisquam quo, suscipit repudiandae nulla inventore
                                quasi
                                iure a numquam doloremque nesciunt officiis?
                            </p>
                        </div>
                        <div class="p-3">
                            <h2>Contact Information</h2>
                            <div>
                                <p><i class="fa-solid fa-phone"></i> 03211884339</p>
                                <p><i class="fa-solid fa-envelope"></i> example@gmail.com</p>
                                <p><i class="fa-solid fa-location-dot"></i> 46 main gulberg, lahore</p>
                            </div>
                        </div>
                        <div class="p-3">
                            <h2>Skills</h2>
                            <p>HTML <br> CSS <br> BOOTSTRAP <br> JAVASCRIPT</p>
                        </div>
                    </div>
                    <div class="detail-info-box w-75 my-5">
                        <div class="name-box mb-3">
                            <h1 class="display-4 fw-bold lh-1">jhon</h1>
                            <h1 class="display-4 fw-bold lh-1">doe</h1>
                            <h4 class="pt-2 fw-bold">Web Developer</h2>
                        </div>
                        <div>
                            <h2>Experience</h2>
                            <div class="mb-4">
                                <h5 class="fw-bold">Front-End Developer | BrightCode Solutions</h4>
                                <p class="text-muted mb-1">2022 – Present</p>
                                <p>Developed responsive websites using HTML, CSS, and JavaScript. Improved page speed
                                    and
                                    design consistency.</p>
                            </div>

                            <div class="mb-4">
                                <h5 class="fw-bold">Web Developer Intern | PixelWave Studio</h4>
                                <p class="text-muted mb-1">2021 – 2022</p>
                                <p>Assisted in WordPress development and tested user interface layouts for client
                                    projects.
                                </p>
                            </div>

                            <h2>Education</h2>
                            <div class="mb-4">
                                <h5 class="fw-bold">Bachelor of Computer Science</h4>
                                <p class="text-muted mb-1">Tech University | 2018 – 2022</p>
                                <p>Studied software development, databases, and web technologies.</p>
                            </div>

                            <h2>Projects</h2>
                            <div class="mb-4">
                                <h5 class="fw-bold">Portfolio Website</h4>
                                <p class="text-muted mb-1">HTML | CSS | JS</p>
                                <p>Created a simple portfolio to showcase skills and projects.</p>
                            </div>

                            <h2>Languages</h2>
                            <p>English, Spanish</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>